{% extends "base.html" %}
{% block content %}
        <p> Welcome {{request.user}}!</p>

        <!-- Display in table -->
        <table class="table">
            <tr>
                <th></th> <!-- For Counter field -->
                <th> Fullname </th>
                <th> Age </th>
                <th> Email </th>
                <th> Interests </th>
                <th> Last updated </th>
            </tr>

            {% for student in students %} <!-- Looping the details within each category-->
            <tr>                 
                <td>{{forloop.counter}}</td><!-- adding numbering -->
                <td>{{student.full_name}}</td> <!-- calling the things you want to display here --->                
                <td>{{student.age}}</td>
                <td>{{student.email}}</td>
                <td>{{student.interests}}</td>
                <td>{{student.last_update | timesince}}</td> <!--filter called 'timesince' -->
                
            {% endfor %}
        
        </table>
{% endblock %}}
